* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  *:before, *:after {
    content: '';
     position: fixed;
    box-sizing: border-box;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:radial-gradient(ellipse at center, #6B8E23 0%, rgba(0,0,0,1) 100%);
}

.container {
  position: fixed;
  height: 10vmin;
  width: auto;
  left: 81%;
}

.container span {
  display: inline-block;
  font-size: 3em;
  margin-left: 2vmin;
  color: #fff;
}

.container span:after {
  width: 2vmin;
  height: 2vmin;
  background-color: red;
}

.container span:nth-child(1) {
  animation: first 22s linear infinite;
}

.container span:nth-child(2) {
  animation: second 22s linear infinite;
}

.container span:nth-child(3) {
  animation: first 22s linear infinite;
}

.container span:nth-child(4) {
  animation: second 22s linear infinite;
}
.container1 {
  position: fixed;
  height: 10vmin;
  width: auto;
    left: 3%;
}

.container1 span {
  display: inline-block;
  font-size: 3em;
  margin-left: 2vmin;
  color: #fff;
}

.container1 span:after {
  width: 2vmin;
  height: 2vmin;
  background-color: red;
}

.container1 span:nth-child(1) {
  animation: first 22s linear infinite;
}

.container1 span:nth-child(2) {
  animation: second 22s linear infinite;
}

.container1 span:nth-child(3) {
  animation: first 22s linear infinite;
}

.container1 span:nth-child(4) {
  animation: second 22s linear infinite;
}

@keyframes first {
  0%,15%,30%,45%,60%,75%,100% {
    transform: rotate(0deg) translateY(6vmin);
  }
  5%,20%,35%,50%,65%,80%,95% {
    transform: rotate(15deg) translateY(-6vmin);
  }
  10%,25%,40%,55%,70%,85%,90% {
    transform: rotate(-15deg) translateY(6vmin);
  }
}

@keyframes second {
  0%,15%,30%,45%,60%,75%,100% {
    transform: rotate(0deg) translateY(-6mvin);
  }
  5%,20%,35%,50%,65%,80%,95% {
    transform: rotate(15deg) translateY(6vmin);
  }
  10%,25%,40%,55%,70%,85%,90% {
    transform: rotate(-15deg) translateY(-6vmin);
  }
}

.photobanner {
	position: fixed;
	width: 280px;
	height: 233px;
	bottom: 2px;
	display: flex;
}

.photobanner img {
  margin: 0px 5px;
  box-shadow: 2px 2px 5px #00FF00;
}

.photobanner {
  -webkit-animation: bannermove 160s linear infinite;
	animation: bannermove 160s linear infinite;
}

@keyframes bannermove {
  from {
    left: 100%;
  }
  to {
    left: -4650px;
  }
}
